/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the welcome message */
#Welcome-message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Style the start button */
button {
    display: block;
    width: auto; 
    padding: 10px 15px; 
    margin: 5px 0;
    background-color: #5a4d97;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #96b9b5;
}

/* Style the quiz question container */
#quiz-question-container {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
}

/* Style the feedback container */
#feedback-container {
    margin-top: 10px;
    color: #3f3582;
    font-weight: bold;
}

/* Style the game over container */
#game-over-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#finalScoreGameOverElement {
    font-size: 24px;
    font-weight: bold;
    color: #998785;
}

/* Style the initials input and save button */
#initials,
#save-score-btn {
    font-size: 1em;
    padding: 5px 10px;
    margin-top: 10px;
}

/* Style the high scores link */
#high-scores-link {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #7463c0;
}

#high-scores-container {
    display: none; 
}

#high-scores-list {
    list-style: none;
    padding: 0;
}

.high-score {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.high-score .initials {
    font-weight: bold;
    margin-right: 10px;
}

.high-score .score {
    font-weight: bold;
    color: #7463c0;
}

#timerElement {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #7463c0;
}

@media screen and (max-width: 600px) {
    /* Responsive styles for smaller screens */
    #high-scores-container {
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
    }
}


